@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* global styles */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00698f;
  transition: all .2s ease;
}

a:hover {
  color: #00A2DC;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.divider {
  background-color: #fff;
  border-color: #fff;
  height: 1px;
  width: 100%;
}

.text-primary-darker {
  color: #00698f !important;
}

.text-primary-light {
  color: #00A2DC !important;
}

.text-primary-lighter {
  color: #19C2FF !important;
}

.text-secondary {
  color: #8F4A00 !important;
}

.text-secondary-light {
  color: #DB7100 !important;
}

.navigation-menu .active a {
  color: #00A2DC;
}

.navigation-menu .active a::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -10%;
  left: 0;
  position: absolute;
  background: #00A2DC;
}

.navigation-menu li {
  display: table-cell;
  position: relative;
}

.navigation-menu li a {
  display: inline-block;
  position: relative;
}

.navigation-menu li a::after {
  display: block;
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  width: 0;
  bottom: -10%;
  left: 50%;
  position: absolute;
  background: #00A2DC;
  transition: width .3s ease 0s, left .3s ease 0s;
}

.navigation-menu li a:hover::after {
  width: 100%;
  left: 0;
}

.btn-login,
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.btn-login.focus {
  background-color: #00698f;
  border: 1px solid #00698f;
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus {
  background-color: #8F4A00 !important;
  border: 1px solid #8F4A00 !important;
  color: #fff;
}

.btn-secondary-light,
.btn-secondary-light:hover,
.btn-secondary-light:focus,
.btn-secondary-light:active,
.btn-secondary-light.active,
.btn-secondary-light.focus {
  background-color: #DB7100 !important;
  border: 1px solid #DB7100 !important;
  color: #fff;
}

/* Background Overlay styles */
.bg-auth {
  padding: 140px 0 100px;
  position: relative;
}

.bg-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bg-100-intersect::before {
  content: url(../img/bg-intersect.png);
  position: absolute;
  top: 0;
  left: 0;
}

.bg-right-sm::before {
  content: url(../img/bg-top-right.png);
  position: absolute;
  right: 0;
  top: 0;
}

.bg-left-lg::after {
  content: url(../img/bg-left-lg.png);
  position: absolute;
  left: 0;
  top: 80px;
}

.bg-left-sm::after {
  content: url(../img/bg-left-sm.png);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.bg-jumlah-suara::after {
  content: url(../img/background/jumlah-suara-overlay.png);
}

.bg-total-suara::after {
  content: url(../img/background/total-suara-overlay.png);
}

.bg-total-partisipan::after {
  content: url(../img/background/total-partisipan-overlay.png);
}

.bg-sekolah-partisipan::after {
  content: url(../img/background/sekolah-partisipan-overlay.png);
}

.bg-info-avatar::after {
  content: url(../img/background/info-avatar.png);
}

.bg-info-guru::after {
  content: url(../img/background/info-guru-overlay.png);
}

.bg-info-counter::after {
  content: url(../img/background/info-counter-overlay.png);
}

.bg-footer {
  background-color: #86CDE8 !important;
}

.img-logo {
  width: 32px;
  height: 32px;
}

.modal {
  max-height: 600px;
  max-width: 1000px !important;
  overflow: initial;
  transition: all .3s linear;
}

/* header styles */
.logo {
  padding: 5px 0;
}

.logo span,
.logo a {
  margin-left: 10px;
  font-size: 32px;
}

#topnav .logo span {
  font-size: 24px;
}

#topnav .login-button {
  padding-left: 1em;
  padding-top: 1em;
  float: right;
}

#topnav .login-button .btn-round {
  display: block;
  padding: 10px 44px 10px 20px;
  background-color: #fff;
  border-radius: 50px;
  color: #00A2DC;
  transition: all .2s linear;
}

#topnav .login-button .btn-round i {
  position: absolute;
  margin-left: 8px;
}

#topnav .login-button .btn-round:hover {
  background-color: #00A2DC;
  color: #fff;
}

#topnav .login-button .btn-round {
  border: 1px solid #00A2DC;
}

#topnav .login-button i {
  top: 28px;
}

.data-responden {
  max-width: 60%;
  margin: 0 auto;
}

.data-responden .percent-respondent {
  font-size: 20px;
}

/* Hero Section Start */
#home .title-heading .medium-heading {
  font-weight: 500;
  font-size: 48px !important;
}

#home .title-heading .preview-video a:hover i {
  box-shadow: 0px 0px 5px 5px rgba(219, 113, 0, 0.25);
}

#home .title-heading .location {
  padding-left: 20px;
}

#home .title-heading .location p {
  font-size: 18px;
  line-height: 1.3;
}

#home .title-heading .location > div {
  display: flex;
  align-items: center;
  margin: 30px 0;
  max-width: 400px;
}

#home .title-heading .location > div i {
  font-size: 20px;
  margin-right: 20px;
}

/* Hero Section End */
/* Auth Hero Section Start */
#auth .title-auth .heading {
  font-size: 3.3rem !important;
  line-height: 1.2;
}

/* Auth Hero Section End */
/* Tata Cara Section Start */
#tata-cara .title-left {
  text-align: left;
}

#tata-cara .title-right {
  text-align: right;
}

/* Tata Cara Section End */
/* Info Data Section Start */
#info-data .btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-data .btn-col .btn-round {
  display: block;
  padding: 10px 44px 10px 20px;
  background-color: #DB7100;
  border-radius: 50px;
  color: #fff;
  transition: all .2s linear;
}

#info-data .btn-col .btn-round i {
  position: absolute;
  margin-left: 8px;
}

#info-data .btn-col .btn-round:hover {
  background-color: #8F4A00;
  color: #fff;
}

#info-data .btn-col i {
  top: 56px;
  font-size: 16px;
  margin-left: 12px !important;
}

/* Info Data Section End */
/* Data Counter Section Start */
.bg-half .bg-right-sm::before {
  top: -25px;
}

.title-data {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}

.title-data i {
  margin-right: 5px;
}

#data-counter #content {
  height: 100%;
}

#data-counter #content > .row {
  --bs-gutter-y: 2.5rem;
  height: 100%;
}

#data-counter #live-data .live-title {
  font-size: 18px;
}

#data-counter #live-data .card {
  height: 200px;
  border-radius: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(0, 162, 220, 0.1);
  box-shadow: 0px 0px 30px rgba(0, 137, 186, 0.1);
}

#data-counter #live-data .card .body {
  padding: 2rem;
  display: flex;
  align-items: flex-end;
}

#data-counter #live-data .card .live-counter::after {
  position: absolute;
  bottom: -7px;
  right: 0;
}

#data-counter #live-data .card .live-counter span {
  line-height: 1;
  font-weight: 700;
  font-size: 56px;
}

#data-counter #informasi .card {
  height: 100%;
  border-radius: 1em;
  background-color: #F2FAFD;
  border: 1px solid rgba(0, 162, 220, 0.1);
  box-shadow: 0px 0px 30px 3px rgba(0, 137, 186, 0.05);
}

#data-counter #informasi .card::after {
  position: absolute;
  bottom: -10px;
  left: 0;
}

#data-counter #informasi .card .avatar {
  height: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#data-counter #informasi .card .avatar-img img {
  right: 22px;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0px 0px 1em -2px rgba(0, 0, 0, 0.1);
}

#data-counter #informasi .card .avatar-info {
  max-width: 250px;
}

#data-counter #informasi .card .avatar-info .title {
  font-weight: 500;
  font-size: 24px;
}

#data-counter #informasi .card .avatar-info .detail::before {
  content: "";
  width: 35px;
  position: absolute;
  border: 2px solid #00698f;
}

#data-counter #informasi .card .avatar-info .detail > * {
  display: block;
}

#data-counter #informasi .card .avatar-info .detail > :nth-child(1) {
  padding-top: 1rem;
}

#data-counter #informasi .card .counter {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#data-counter #informasi .card .counter .day {
  display: flex;
  font-weight: 700;
  margin: 3.5rem auto 0;
  max-width: max-content;
  flex-direction: column;
}

#data-counter #informasi .card .counter .day .title {
  font-size: 72px;
  line-height: 65px;
}

#data-counter #informasi .card .counter .day .day-detail {
  font-size: 18px;
  line-height: 16px;
  text-align: right;
  font-style: italic;
}

#data-counter #informasi .card .counter .detail > span {
  display: block;
  max-width: 200px;
}

#data-counter #informasi .card .counter .detail .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

#data-counter #informasi .card .counter .detail hr {
  border: 1px solid #00698f;
}

#data-counter #ringkasan-data {
  z-index: 2;
  margin-top: 40px;
}

#data-counter #ringkasan-data .ringkasan-table {
  padding: 45px 50px;
  border-radius: 1em;
  background-color: #fff;
  border: 1px solid rgba(219, 113, 0, 0.25);
  box-shadow: 0px 0px 30px 5px rgba(0, 137, 186, 0.05);
  /*  table {
                border-spacing: 1em;

                &, th {
                    border: none;
                }
                th {
                    padding: 0;
                    color: $first-primary-color;
                }
                td {
                    background-color: rgba(219, 113, 0, 0.06);
                }
            }
            input {
                margin-left: 10px;
                border: 1px solid rgba(219, 113, 0, 0.25);
                
                &:focus {
                    border: 1px solid rgba(219, 113, 0, 0.25);
                    box-shadow: 0px 0px 5px 2px rgba(219, 113, 0, 0.15);
                }
            } */
}

/* Data Counter Section End */
/* footer styles */
.footer ul.social-media {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.footer ul.social-media i {
  width: 30px;
  text-align: center;
}

.footer ul.social-media li a {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 6px 2px;
  color: #fff !important;
  transition: all .2s ease;
}

.footer ul.social-media li a:hover {
  border-color: #00698f;
  background-color: #00698f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.footer .footer-bar {
  padding-top: 30px;
}

.footer .footer-bar .footer-list li {
  display: table-cell;
  position: relative;
}

.footer .footer-bar .footer-list li a {
  display: inline-block;
  position: relative;
}

.footer .footer-bar .footer-list li a::after {
  display: block;
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  width: 0;
  bottom: -10%;
  left: 50%;
  position: absolute;
  background: #00698f;
  transition: width .3s ease 0s, left .3s ease 0s;
}

.footer .footer-bar .footer-list li a:hover::after {
  width: 100%;
  left: 0;
}

.footer .footer-bar .footer-list .active a {
  color: #00698f;
}

.footer .footer-bar .footer-list .active a::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -10%;
  left: 0;
  position: absolute;
  background: #00698f;
}

.footer .footer-bar .footer-list a {
  color: #fff;
}

.footer .footer-bar .footer-list a:hover {
  color: #00698f !important;
}

/* Media Queries */
@media (max-width: 1000px) {
  .data-responden {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  #tata-cara .section-title {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) {
  #topnav .logo span {
    font-size: 18px;
  }
  .login-button {
    display: none;
  }
  .footer .logo {
    margin: 0 auto;
    line-height: 1.5;
    justify-content: center;
  }
  .footer .logo a {
    font-size: 24px;
  }
  .footer ul.social-media {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  #tata-cara {
    background-image: url(../img/bg-intersect.png);
    background-repeat: round;
  }
  #tata-cara .bg-100-intersect::before {
    display: none;
  }
}

@media (min-width: 1920px) {
  #tata-cara {
    background-size: cover;
  }
}
/*# sourceMappingURL=custom.css.map */